/*
    This document contains styles specific to the current webpage.
*/

@use "base";
@use "sass:color";

/*
    Variables: overwrite the ones you want to change. In the comments you find the defaults
*/

/* Typography */
$font-serif: base.$font-serif; // 100% Georgia, 'Times New Roman', Times, serif
$font-sans-serif: base.$font-sans-serif; // 100% 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

/* Colors */
$dark: base.$dark; // rgb(31, 31, 31)
$light: base.$light; // rgb(255, 255, 255)

$primary-color: rgb(245, 142, 58);
$secondary-color: color.adjust(
  $primary-color,
  $saturation: -20%,
  $lightness: 25%
);

$text-primary: base.$text-primary; // same as $dark
$text-secondary: base.$text-secondary; // rgb(82,82,82)
$text-primary-light: base.$text-primary-light; // same as $light
$text-secondary-light: base.$text-secondary-light; // rgba(255, 255, 255, 0.7)
$link-default: base.$link-default; // rgb(0, 0, 238)
$link-hover: base.$link-hover; // rgb(0, 0, 238)
$link-active: base.$link-active; // rgb(238, 0, 0)
$link-visited: base.$link-visited; // rgb(128, 0, 128)

$bg-primary-light: base.$bg-primary-light; // same as $light
$bg-primary-dark: base.$bg-primary-dark; // same as $dark

$aspect-ratio: base.$aspect-ratio; // 56.25%

/* Variables that cannot be changed here. Prefix them like this: base.<variablename>

$primary-color-light;
$primary-color-dark;
$secondary-color-light;
$secondary-color-dark;
$complementary-color;
$complementary-light;
$complementary-dark;

$input-default;
*/

/*
    Your code starts here
*/
h1 {
  padding: 1rem 1.5rem;
  color: $primary-color;
  background-color: $bg-primary-dark;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

.big {
  font-size: 4rem;
  font-weight: 600;
}

.temp-unit {
  font-size: 0.3em;
  vertical-align: text-top;
}

.weather {
  margin: 20px auto 180px;
  max-width: 500px;
  border: 1px solid black;
}

.container {
  background-image: linear-gradient($secondary-color, $primary-color);
}

.weather main,
.weather header {
  padding: 1rem 1.5rem;
}

.weather main {
  padding-top: 0;
}

.weather-descr {
  color: $text-secondary;
  text-transform: capitalize;
}

.weather-location {
  text-transform: uppercase;
  font-size: 1.375rem;
  font-weight: 700;
}

.text-secondary {
  color: $text-secondary;
  font-size: 0.9em;
}

.weather header img {
  float: right;
}

.weather header:after {
  display: block;
  content: "";
  height: 0;
  clear: right;
}

.weather footer {
  padding: 0.5rem 1.5rem 1.5rem;
  background-color: $bg-primary-dark;
  color: $text-primary-light;
}

.weather footer > * {
  text-align: center;
}

.weather footer .text-secondary {
  margin-top: 1.25em;
  margin-bottom: 0.15em;
  font-size: 0.8em;
  color: $text-secondary-light;
  text-transform: uppercase;
}

.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5rem 3rem;
  background-color: $bg-primary-dark;
  color: $text-secondary-light;
  text-align: center;
  line-height: 1.5;
}

.site-footer a {
  color: $primary-color;
  text-decoration: none;
}

.site-footer a:hover {
  text-decoration: underline;
}

.site-footer a:visited {
  color: color.adjust($primary-color, $saturation: -30%, $lightness: -15%);
}
