/*
    This document contains styles specific to the current webpage.
*/

@use "base";
@use "sass:color";

/*
    Variables: overwrite the ones you want to change. In the comments you find the defaults
*/

/* Typography */
$font-serif: base.$font-serif; // 100% Georgia, 'Times New Roman', Times, serif
$font-sans-serif: base.$font-sans-serif; // 100% 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

/* Colors */
$dark: base.$dark; // rgb(31, 31, 31)
$light: base.$light; // rgb(255, 255, 255)

$primary-color: rgb(245, 142, 58);
$secondary-color: color.adjust(
  $primary-color,
  $saturation: -20%,
  $lightness: 25%
);

$text-primary: base.$text-primary; // same as $dark
$text-secondary: base.$text-secondary; // rgb(82,82,82)
$text-primary-light: base.$text-primary-light; // same as $light
$text-secondary-light: base.$text-secondary-light; // rgba(255, 255, 255, 0.7)
$link-default: base.$link-default; // rgb(0, 0, 238)
$link-hover: base.$link-hover; // rgb(0, 0, 238)
$link-active: base.$link-active; // rgb(238, 0, 0)
$link-visited: base.$link-visited; // rgb(128, 0, 128)

$bg-primary-light: base.$bg-primary-light; // same as $light
$bg-primary-dark: base.$bg-primary-dark; // same as $dark

$aspect-ratio: base.$aspect-ratio; // 56.25%

/* Variables that cannot be changed here. Prefix them like this: base.<variablename>

$primary-color-light;
$primary-color-dark;
$secondary-color-light;
$secondary-color-dark;
$complementary-color;
$complementary-light;
$complementary-dark;

$input-default;
*/

/*
    Your code starts here
*/
h1 {
  padding: 1rem 1.5rem;
  color: $primary-color;
  background-color: $bg-primary-dark;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.big {
  font-size: 2rem;
  font-weight: 600;
}

.temp-unit {
  font-size: 0.3em;
  vertical-align: text-top;
}

.weather {
  margin: 0 auto;
  max-width: 500px;
  border: 1px solid black;
}

#weather-search {
  display: flex;
  align-items: center;
}

#weather-search > i {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: rgb(172, 30, 30);
  text-shadow: 1px 1px 2px rgb(99, 22, 22);
  cursor: pointer;
}

#weather-search > i:hover {
  text-shadow: 1px 1px 2px rgb(99, 22, 22), 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#weather-search input[type="search"] {
  flex-grow: 1;
  min-width: 100px;
  font-size: 1rem;
  font-weight: 600;
}

#weather-search button[type="submit"] {
  padding: 0.75rem 0.9rem;
  border-radius: 50%;
  border: none;
  background-image: linear-gradient(rgb(247, 45, 45), rgb(99, 22, 22));
  color: $text-primary-light;
  font-size: 1.15rem;
  box-shadow: 2px 2px 10px rgb(39, 55, 78);
}

#weather-search button[type="submit"]:hover {
  box-shadow: 2px 2px 10px rgb(39, 55, 78),
    6px 6px 15px rgba(26, 10, 10, 0.5) inset;
}

.error-info {
  padding: 0.5em 1em;
  color: rgb(199, 12, 12);
  font-weight: 700;
}

.container {
  background-image: linear-gradient($secondary-color, $primary-color);
}

.weather main,
.weather header {
  padding: 1rem 1.5rem;
}

.weather main {
  padding-top: 0;
}

.weather-descr {
  color: $text-secondary;
  text-transform: capitalize;
}

.weather-location {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
}

.text-secondary {
  color: $text-secondary;
  font-size: 0.9em;
}

.weather header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather footer {
  padding: 0.5rem 1.5rem 1.5rem;
  background-color: $bg-primary-dark;
  color: $text-primary-light;
}

.weather footer > * {
  text-align: center;
}

.weather footer .text-secondary {
  margin-top: 1.25em;
  margin-bottom: 0.15em;
  font-size: 0.8em;
  color: $text-secondary-light;
  text-transform: uppercase;
}

.site-footer {
  padding: 1.5rem 3rem;
  background-color: $bg-primary-dark;
  color: $text-secondary-light;
  text-align: center;
  line-height: 1.5;
}

.site-footer a {
  color: $primary-color;
  text-decoration: none;
}

.site-footer a:hover {
  text-decoration: underline;
}

.site-footer a:visited {
  color: color.adjust($primary-color, $saturation: -30%, $lightness: -15%);
}

@media (min-width: 450px) {
  .weather {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 1.25rem;
  }

  .big {
    font-size: 4rem;
  }

  .weather-location {
    font-size: 1.375rem;
  }
}

@media (min-width: 450px) and (min-height: 672px) {
  .weather {
    margin-bottom: 120px;
  }
  .site-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
